In [1]:
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/Wikipedia:Fundraising_statistics'

In [3]:
dados = pd.read_html(url)

In [4]:
dados

[       Year Source        Revenue       Expenses    Asset rise   Total assets
 0   2020/21    PDF  $ 162,886,686  $ 111,839,819  $ 50,861,811  $ 231,177,536
 1   2019/20    PDF  $ 129,234,327  $ 112,489,397  $ 14,674,300  $ 180,315,725
 2   2018/19    PDF  $ 120,067,266   $ 91,414,010  $ 30,691,855  $ 165,641,425
 3   2017/18    PDF  $ 104,505,783   $ 81,442,265  $ 21,619,373  $ 134,949,570
 4   2016/17    PDF   $ 91,242,418   $ 69,136,758  $ 21,547,402  $ 113,330,197
 5   2015/16    PDF   $ 81,862,724   $ 65,947,465  $ 13,962,497   $ 91,782,795
 6   2014/15    PDF   $ 75,797,223   $ 52,596,782  $ 24,345,277   $ 77,820,298
 7   2013/14    PDF   $ 52,465,287   $ 45,900,745   $ 8,285,897   $ 53,475,021
 8   2012/13    PDF   $ 48,635,408   $ 35,704,796  $ 10,260,066   $ 45,189,124
 9   2011/12    PDF   $ 38,479,665   $ 29,260,652  $ 10,736,914   $ 34,929,058
 10  2010/11    PDF   $ 24,785,092   $ 17,889,794   $ 9,649,413   $ 24,192,144
 11  2009/10    PDF   $ 17,979,312   $ 10,266,793   $ 6,310,964   $ 14,542,731
 12  2008/09    PDF    $ 8,658,006    $ 5,617,236   $ 3,053,599    $ 8,231,767
 13  2007/08    PDF    $ 5,032,981    $ 3,540,724   $ 3,519,886    $ 5,178,168
 14  2006/07    PDF    $ 2,734,909    $ 2,077,843     $ 654,066    $ 1,658,282
 15  2005/06    PDF    $ 1,508,039      $ 791,907     $ 736,132    $ 1,004,216
 16  2004/05    PDF      $ 379,088      $ 177,670     $ 211,418      $ 268,084
 17  2003/04    PDF       $ 80,129       $ 23,463      $ 56,666       $ 56,666]

In [5]:
df = dados[0]

In [6]:
df

       Year Source        Revenue       Expenses    Asset rise   Total assets
0   2020/21    PDF  $ 162,886,686  $ 111,839,819  $ 50,861,811  $ 231,177,536
1   2019/20    PDF  $ 129,234,327  $ 112,489,397  $ 14,674,300  $ 180,315,725
2   2018/19    PDF  $ 120,067,266   $ 91,414,010  $ 30,691,855  $ 165,641,425
3   2017/18    PDF  $ 104,505,783   $ 81,442,265  $ 21,619,373  $ 134,949,570
4   2016/17    PDF   $ 91,242,418   $ 69,136,758  $ 21,547,402  $ 113,330,197
5   2015/16    PDF   $ 81,862,724   $ 65,947,465  $ 13,962,497   $ 91,782,795
6   2014/15    PDF   $ 75,797,223   $ 52,596,782  $ 24,345,277   $ 77,820,298
7   2013/14    PDF   $ 52,465,287   $ 45,900,745   $ 8,285,897   $ 53,475,021
8   2012/13    PDF   $ 48,635,408   $ 35,704,796  $ 10,260,066   $ 45,189,124
9   2011/12    PDF   $ 38,479,665   $ 29,260,652  $ 10,736,914   $ 34,929,058
10  2010/11    PDF   $ 24,785,092   $ 17,889,794   $ 9,649,413   $ 24,192,144
11  2009/10    PDF   $ 17,979,312   $ 10,266,793   $ 6,310,964   $ 14,542,731
12  2008/09    PDF    $ 8,658,006    $ 5,617,236   $ 3,053,599    $ 8,231,767
13  2007/08    PDF    $ 5,032,981    $ 3,540,724   $ 3,519,886    $ 5,178,168
14  2006/07    PDF    $ 2,734,909    $ 2,077,843     $ 654,066    $ 1,658,282
15  2005/06    PDF    $ 1,508,039      $ 791,907     $ 736,132    $ 1,004,216
16  2004/05    PDF      $ 379,088      $ 177,670     $ 211,418      $ 268,084
17  2003/04    PDF       $ 80,129       $ 23,463      $ 56,666       $ 56,666